.izin{
    width: 80%;
    /* border: 1px solid black; */
    margin: 20px auto;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.izin:hover{
    background-color: #03A9F4;
}
.izin:active{
    transform: translateY(4px);
}

.historiabsensi{
    width: 80%;
    /* border: 1px solid black; */
    margin: 20px auto;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.historiabsensi:hover{
    background-color: #03A9F4;
}
.historiabsensi:active{
    transform: translateY(4px);
}

.historipengajuan{
    width: 80%;
    /* border: 1px solid black; */
    margin: 20px auto;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}

.historipengajuan:hover{
    background-color: #03A9F4;
}
.historipengajuan:active{
    transform: translateY(4px);
}

.blues{
    color: white;
    background-color: #03A9F4;
}
.selamat{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 1px solid black; */
}
.red{
    background-color: rgb(255, 116, 116);
    color: white;
}
.icon-form{
    width: 30px;
    margin:auto;
}
.form-img{
    width: 20%;
    border: 3px solid #a7aaa7;
    height: 50px;
    margin-left: 2%;
    margin-top: 16px;
    display: flex;
    float: left;
    border-radius: 10px; 
    /* box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff */
}
.pengajuan{
    width: 100%;
}
.form-text{
    width: 74%;
    border: 3px solid #a7aaa7;
    height: 50px;
    margin-left: 2%;
    margin-top: 16px;
    display: flex;
    float: left;
    border-radius: 10px; 
    align-content: center;
    /* box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff */
}
.text{
    color: black;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

.absen{
    width: 80%;
    /* border: 1px solid black; */
    /* margin-top: 30px; */
    margin: 20px auto;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}
.absen:hover{
    background-color: #03A9F4;
}
.absen:active{
    transform: translateY(4px);
}

.scan{
    width: 80%;
    /* border: 1px solid black; */
    /* margin-top: 30px; */
    margin: 20px auto;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}
.scan:hover{
    background-color: #03A9F4;
}
.scan:active{
    transform: translateY(4px);
}

.preview{
    width: 100%
}
.img-prev{
    width: 25%;
}
.qrcode{ 
    width: 100%;
    /* border: 1px solid black; */
}

.tampilabsensi{
    display: block;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid black;
}
table{
    width: 90%;
}
.kuning{
    background-color: rgb(255, 255, 160);
}
.merah{
    background-color: rgb(255, 123, 123);
}
.hijau{
    background-color: rgb(130, 255, 130);
}

.tampilpengajuan{
    display: block;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid black;
}
#results { 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid; 
    background:#ccc; 
}

.logo_perusahaan{
    width: 100px;
}

.judulheader {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 102, 170);
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    
  }
  /* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    .judulheader {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
  }

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
  }
  .preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 14px arial;
  }  

  @media only screen and (max-width: 575.6px) {
    .judulheader {
        margin-left: 5px;
        font-size: 16px;
        font-weight: 500;
        color: rgb(0, 102, 170);
        
        --x-offset: -0.0625em;
        --y-offset: 0.0625em;
        --stroke: 0.025em;
        --background-color: white;
        --stroke-color: lightblue;
        
        text-shadow: 
          
          var(--x-offset)
          var(--y-offset)
          0px
          var(--background-color), 
          
          calc( var(--x-offset) - var(--stroke) )
          calc( var(--y-offset) + var(--stroke) )
          0px
          var(--stroke-color);
        
      }
      /* for browsers that support spread, added in
      https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
      currently: none browsers! none of them!
      I can't even find a test: 
      https://wpt.fyi/results/css/css-text-decor */
      @supports ( text-shadow: 1px 1px 1px 1px black ) {
        .judulheader {
          text-shadow:
            
            var(--x-offset)
            var(--y-offset)
            0px
            0px
            var(--background-color), 
            
            var(--x-offset) 
            var(--y-offset)
            var(--stroke)
            0px
            var(--stroke-color);
          
        }
      }
  }