
.red{
    background-color: rgb(255, 116, 116);
    color: white;
}

.izin{
    width: 80%;
    /* border: 1px solid black; */
    margin: 0 auto;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff;
}

.izin:hover{
    background-color: #03A9F4;
}
.izin:active{
    transform: translateY(4px);
}
.icon-form{
    width: 30px;
    margin:auto;
}
.form-img{
    width: 20%;
    border: 3px solid #a7aaa7;
    height: 50px;
    margin-left: 2%;
    margin-top: 16px;
    display: flex;
    float: left;
    border-radius: 10px; 
    /* box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff */
}
.pengajuan{
    width: 100%;
}
.form-text{
    width: 74%;
    border: 3px solid #a7aaa7;
    height: 50px;
    margin-left: 2%;
    margin-top: 16px;
    display: flex;
    float: left;
    border-radius: 10px; 
    align-content: center;
    /* box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff */
}


/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    width: 100%;
    
    color: rgb(0, 0, 0);
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 10s steps(200, end),
      blink-caret .10s step-end infinite;

      margin-top: 40px;
      margin-bottom: 40px;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    /* 50% { border-color: orange } */
  }

.text{
    color: black;
    font-size: 16px;
    text-align: center;
    margin: auto;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
  }
  .preloader .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font: 14px arial;
  }  

.absen{
    width: 80%;
    /* border: 1px solid black; */
    /* margin-top: 30px; */
    margin: 20px auto;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}
.absen:hover{
    background-color: #03A9F4;
}
.absen:active{
    transform: translateY(4px);
}
.logouts{
    display: none;
}

.logouts{
    
    width: 80%;
    /* border: 1px solid black; */
    /* margin-top: 30px; */
    background-color: rgb(255, 62, 62);
    margin: 20px auto;
    height: 80px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaa7, -8px -8px 15px #fff
}
.logouts:hover{
    background-color: #b80000;
}
.logouts:active{
    transform: translateY(4px);
}
.red{
    background-color: rgb(255, 117, 117);
}

.logo_perusahaan{
    width: 100px;
}

.judulheader {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 102, 170);
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: lightblue;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    
  }
  /* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    .judulheader {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
  }

@media only screen and (max-width: 1080px) {
    .izin{
        display: none;
    }
}

@media only screen and (max-width: 575.6px) {
    .logouts{
        display: flex;
    }

    .typewriter h1{
        font-size: 20px;
    }

    .wadahlogout{
        display: none;
    }

    .judulheader {
        margin-left: 5px;
        font-size: 16px;
        font-weight: 500;
        color: rgb(0, 102, 170);
        
        --x-offset: -0.0625em;
        --y-offset: 0.0625em;
        --stroke: 0.025em;
        --background-color: white;
        --stroke-color: lightblue;
        
        text-shadow: 
          
          var(--x-offset)
          var(--y-offset)
          0px
          var(--background-color), 
          
          calc( var(--x-offset) - var(--stroke) )
          calc( var(--y-offset) + var(--stroke) )
          0px
          var(--stroke-color);
        
      }
      /* for browsers that support spread, added in
      https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
      currently: none browsers! none of them!
      I can't even find a test: 
      https://wpt.fyi/results/css/css-text-decor */
      @supports ( text-shadow: 1px 1px 1px 1px black ) {
        .judulheader {
          text-shadow:
            
            var(--x-offset)
            var(--y-offset)
            0px
            0px
            var(--background-color), 
            
            var(--x-offset) 
            var(--y-offset)
            var(--stroke)
            0px
            var(--stroke-color);
          
        }
      }
}